.top{
    text-align: center;
    padding: 3px;
    height: 80px;
    width:100%;
    background-color: rgb(94, 7, 107); 
    color: white;   
    text-align: center;
}
.first{
    font-size: 35px;
    text-decoration: underline;
    line-height: 0%;
}
.second
{
    font-size: 22px;   
}
.side{
    background-color: rgb(94, 7, 107);
    float: left;
    width: 200px;
    height: 600px;
    line-height: 250%;
    text-align: center;
    font-size: large;
}
.side a{
    color: beige;
}
.side a:hover{
    color: brown;
}
section{
    padding-top: 10px;
    margin-left: 250px;
}